.App-section1 {
  width: 95%;
  margin: auto;
  background-color: rgb(2, 2, 66);
}

.App-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
}

.App-nav li {
  padding: 30px;
}

.App-header {
  display: flex;
  flex-direction: column;
  color: white;
  padding-left: 30px;
  width: 40%;
}

.App-header h1 {
  font-size: 56px;
}

.App-header a {
  background-color: white;
  color: black;
  padding: 20px;
  margin: 20px 0;
  width: 25%;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
}

.App-section2 {
  display: flex;
}©






